

@media screen and (min-width: 1200px) {
    iframe {
        width: 1110px;
        height: 631px;
    }
    }

@media screen and (max-width: 1140px) {
    iframe {
        width: 930px;
        height: 631px;
    }
    }
@media screen and (max-width: 990px) {
        iframe {
            width: 690px;
            height: 481px;
        }
        }

@media screen and (max-width: 767px) {
    iframe {
        width: 510px;
        height: 381px;
    }
    }

@media screen and (max-width: 540px) {
    iframe {
        width: 505px;
        height: 281px;
    }
    }