body{
    margin:0;
    padding: 0;
    background-color: #000;
}

header{
    display:flex;
    justify-content: center;
}

div > nav {
    margin-top:10px;
    position: fixed;
}

.hamburguesa{
    background-color: grey !important;
}

.bg-light {
    background-color: rgba(0, 0, 0, 0.096) !important;
    color: #fff;
}

nav a {
    color:#fff !important;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.671) !important;
}

.navbar-brand{
    color:rgb(204, 32, 32) !important;
}

.estrenos a img {
    height: 300px;
    width: 200px;
}

.estrenos a img:hover{
    opacity: 50%;
    -webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .3;
	}
	100% {
		opacity: .6;
	}
}
@keyframes flash {
	0% {
		opacity: .3;
	}
	100% {
		opacity: .6;
	}
}

.modal1{
    background-color: #000;
    color:#fff;
}

.close{
    color:#fff !important;
}

@media screen and (min-width: 1141px) {
    iframe {
        width: 800px;
        height: 600px;
    }
    }

@media screen and (max-width: 1140px) {
    iframe {
        width: 750px;
        height: 600px;
    }
    }
@media screen and (max-width: 990px) {
        iframe {
            width: 450px;
            height: 450px;
        }
        }

@media screen and (max-width: 720px) {
    iframe {
        width: 350px;
        height: 350px;
    }
    }

@media screen and (max-width: 540px) {
    iframe {
        width: 250px;
        height: 250px;
    }
    }
footer {
    height: 100px;
    background-color: rgb(3, 3, 3);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer div a img{
    
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    margin:10px;
    width: 30px;
    height: 30px;
}


footer a {
color: black;
text-decoration: none;
margin: 10px;
}


.red {
    color:#A80404;
}

.bg-red {
    background-color:#A80404;
}
.blank{
 color: beige;
}
.ion-icon {
    font-size: 64px;
  }
  
